nav {
  font-size: 1.2em;
}

#list {
  background-color: #f39c12;
}

#top {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#top a:hover {
  color: #ffffff;
}

#top a {
  color: #ffffff;
}

.title
, .subtitle {
  text-transform: uppercase;
}
